{% extends 'base.html.twig' %}

{% block title %} Blog - H2o Fabrik Cocktail {% endblock %}

{% block content %}

    <div class="text-center text-dark p-3">
        <h1 class="display-4 fw-bolder">Blog</h1>
        <img class="card-img-top" src="{{ asset('assets/img/cocktails-of-the-deep-south-1323527.jpg') }}" alt="..."/>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for blogpost in blogposts %}
        <div class="col">
            <div class="card">
                <img src="/uploads/{{ blogpost.illustration }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ blogpost.title }}</h5>
                    <p class="card-text">{{ blogpost.createdAt|date('d/m/Y') }}</p>
                    <a href="{{ path('index_single', {'slug': blogpost.slug}) }}" class="btn btn-dark">Lire</a>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>

    <div class="d-flex justify-content-center mt-5">
        {% do blogposts.setPageRange(3) %}
        {{ knp_pagination_render(blogposts, 'bundles/TwigBundle/Pagination/pagination.html.twig') }}
    </div>

{% endblock %}