{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - H2o Fabrik Cocktail{% endblock %}

{% block content %}

    <div class="row mt-5">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-page-price">{{ (product.price / 100)|number_format(2, ',', '.') }} €</span>
            <hr>
            <p>
                {{ product.description|raw }}

            </p>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Ajouter
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="{{ path('add_to_cart', { 'id' : product.id }) }}">Panier</a></li>
                    <li><a class="dropdown-item" href="{{ path('add_my_bar', { 'id' : product.id }) }}">Mon Bar</a></li>
                    <li><a class="dropdown-item" href="{{ path('add_shopping_list', { 'id' : product.id }) }}">Liste de courses</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}